@using SocialMedia.Areas.Identity.Data


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialMedia</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/SocialMedia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
  @*   <link rel="stylesheet" href="Views/Shared/_Layout.cshtml/_Layout.cshtml.css" asp-append-version="true" /> *@

</head>

@{
    var hideLayout = ViewContext.RouteData.Values["Page"]?.ToString()?.Contains("Account") == true;
}


<body>
    <header>

        @if (!hideLayout)
        {

            <div class="sidebar-navigation">
                <h1 id="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Logo</a>
                </h1>


                <a class="btn-sidebar" id="first-button" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="sidebar-images" src="/images/home.svg">Home
                </a>

                <a class="btn-sidebar">
                    <img class="sidebar-images" src="/images/notification.svg">Notifications
                </a>

                <a class="btn-sidebar sidebar-links" asp-area="" asp-controller="Post" asp-action="Create">
                    <img class="sidebar-images" src="~/images/add.svg">Create post
                </a>

                <a class="btn-sidebar sidebar-links" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <img class="sidebar-images" src="~/images/settings.svg">Settings
                </a>
                <a class="btn-sidebar sidebar-links" asp-area="" asp-controller="Post" asp-action="MyPage">
                    <img class="profile-pic" id="profile-picture" src="@ViewData["ProfilePictureUrl"]">Profile
                </a>

                <a class="btn-sidebar sidebar-links" id = "logout-button" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <img class="sidebar-images" width="24px" src="~/images/logout.svg" />Log out
                </a>
            </div>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

<script src="~/js/imagesFunctions.js" defer></script>
